<a href="https://colab.research.google.com/github/Yeonseo-Jo/Class2022Spring/blob/main/(5)%20pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importing libraries

In [ ]:
#pandas = 데이터가 들어 있는 엑셀 파일을 불러와서 maniuplate 하게 해주는 라이브러리. (Python Data Anlaysis Library)

In [2]:
import pandas as pd 
#pandas 라이브러리를 불러옴. (import한다는 것은 내 컴퓨터에 이미 라이브러리, 패키지가 install 되어 있음을 가정한 상태.)

#구분하기!!
# 1) install을 해야 하는 경우: 내 컴퓨터에 install되어 있지 않는 경우 install 후 import 해야 함.
# 2) import를 해야 하는 경우
# 3) built-in- funiction: 바로 쓸 수 있는 함수. ex. pirnt(), len()

### (1) Loading csv file

##### Data frame을 만드는 첫번째 방법: csv 파일 이용하기
-> 하나하나 다 안만들어줘도 되므로 가장 많이 이용하는 방법

In [15]:
df = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep=",")
df

#pandas의 .read_csv() function으로 csv 파일의 information을 읽어옴. / URL 주소로도 불러올 수 있음. / df 변수에 csv 파일을 읽어온 정보를 저장함.
#csv 파일은 엑셀 파일./ csv = comma seperated values = 각각의 정보가 comma로 분리가 된 파일.

#파일을 보면,
#첫번째 row에는 각각의 value들의 이름이 있음.(=> column명) / 총 9개의 column과 총 1700개의 row가 되어 있음.

#이렇듯 엑셀 타입으로 생긴 변수를 data frame이라고 함.

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [16]:
print(df.size); print(df.ndim); print(df.shape)

#우리가 pandans 모듈 속 pd.read_csv()로 불러오고 df 변수에 저장한 csv 파일의 size에 대한 정보를 다양한 형태로 알아낼 수 있음. (size/ndim/shape)

# 1) df.size => 행의 개수*열의 개수를 통해 해당 파일의 총 size를 알려줌 / 17000개의 행 * 9개의 열 = 총 15300개의 size로 이루어져 있다.
# 2) df.ndim => 이 csv 파일이 몇차원인지에 대한 정보를 알려줌. / 지금 이 파일은 행*열로 된 2차원의 정보이므로 2가 출력.
# 3) df.shape => (행,열)의 shape를 알려줌 / 17000 row * 9 columns에 대한 정보.

153000
2
(17000, 9)

In [17]:
df.describe()

#.describe(): data frame(csv 파일)에 대한 통계적인 정보를 알려주는 함수 / 가장 기본적인 통계 정보 (평균, 표준편차 등)를 알려줌.

# 1행 -  count: 총 몇개의 정보가 있는가
# 2행 -  mean: 평균에 대한 정보
# 3행 - std : standard deviation(표준편차)에 대한 정보
# 4행 - min: 최솟값에 대한 정보
# 5행~7행 - 평균에서부터 25%, 50%, 75%에 해당하는 값.
# 마지막행 - max: 최댓값에 대한 정보

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

### Saving to CSV

In [18]:
df.to_csv('california_housing_train.csv')

# .to_csv('저장할 파일명') : df에 저장된 csv 파일을 내 컴퓨터에 파일로 저장하는 함수.
# 앞에서는 df라는 변수에 csv 파일을 저장한것이지만, 여기서는 반대로 df라는 변수를 이용해서 csv 파일을 저장하는 과정임.
# 즉, pandas라는 모듈이 data frame 파일을 데이터 변수로, 데이터 변수를 파일로 입출력을 해주는 것을 가능하게 해 줌. 
#또한 뿐만 아니라 데이터 변수를 불러들이고 나서 데이터 manipulate와 acess를 가능하게 해주는 것도 pandas 모듈임

# xls 파일 형태보다 csv 파일 형태가 더 general하게 쓰이는 파일 형태임.

### (1) Constructing a DataFrame using dict

#### Data frame을 만드는 두번째 방법 : dict를 통해 직접 값을 입력하여 dataframe 파일을 만드는 방법.

In [19]:
# Some input data - a small sample of the iris dataset

#data라는 변수의 type = dict!
# *dict는 {}로 만들어지는 데이터 타입으로, key 값과 value 값이 콜론으로 연결되어 있음. (key와 value의 개수가 맞아야 함.)

data = {'sepal_length': [6.9, 6.9, 4.8, 5.4, 4.6],          #->이게 한 column! (*그래서 개수가 맞아야 함.)
        'sepal_width': [3.2, 3.1, 3.4, 3.0, 3.6],
        'petal_length': [5.7, 5.1, 1.9, 4.5, 1.0],
        'petal_width': [2.3, 2.3, 0.2, 1.5, 0.2],
        'species': ['virginica', 'virginica', 'setosa', 'versicolor', 'setosa']}

# => data를 dict를 통해 만들었음. / key 값들이 column명, value 값들이 그 column에 해당하는 데이터 값들.

df = pd.DataFrame(data)
df 

#pandas에 있는 .DataFrame() 함수를 이용해서 data frame을 만듦. / data라는 dict를 입력 값으로 넣어 이를 바탕으로 한 data frame을 만든다.
#csv 파일로 data frame을 만들 수도 있지만, data frame의 형식(=엑셀 파일과 같은 형식)을 가지는 dict를 통해 직접 값들을 넣어주고 data frame을 만드는 방법도 있음.

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

### (3) Constructing a DataFrame using pd.Series
#### Data frame을 만드는 세번째 방법: pd.Series 함수 이용하기

In [20]:
#pd.Series()로 데이터 값들을 먼저 만들어 준 다음, 그 후에 dict로 만들어주는 방법.

sepal_length = pd.Series([6.9, 6.9, 4.8, 5.4, 4.6])
sepal_width = pd.Series([3.2, 3.1, 3.4, 3.0, 3.6])
petal_length = pd.Series([5.7, 5.1, 1.9, 4.5, 1.0])
petal_width = pd.Series([2.3, 2.3, 0.2, 1.5, 0.2])
species = pd.Series(['virginica', 'virginica', 'setosa', 'versicolor', 'setosa'])
#총 5개의 column, 총 5개의 row

#pd.Series로 dataframe을 만드는 방법 = pd.Series()의 입력 값으로 한 column씩 값을 지정해줌.
# 형식 : 변수명(=column 명) = pd.Series([각각의 row에 들어갈 data 값들])


df = pd.DataFrame({'sepal_length': sepal_length, 'sepal_width': sepal_width, 'petal_length': petal_length, 'petal_width': petal_width, 'SPECIES': species})
df

#pd.DataFrame의 입력 값에 들어갈 dict 값을 앞에서 만든 pd.Series를 이용하여 만들어줌.

   sepal_length  sepal_width  petal_length  petal_width     SPECIES
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

### Changing column names 
#### = data frame에서 column명을 바꾸는 방법

In [22]:
# Change the columns
df.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
df

# .columns 함수: column명을 바꾸는 방법.
# 변수명.columns = 변경할 column명을 포함한 column명의 리스트 (여기서는 대문자였던 SPECIES를 소문자 species로 바꿈)

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

### Accessing columns
####: 특정 column에만 access하는 방법

###### 1) df.loc[row(:으로 전체 범위로 지정), column]
###### 2) df[column명]
###### 3) df.column명

In [32]:
# Access one column 
df.loc[:, 'sepal_length']

# 첫번째 방법 : data frame을 저장한 변수명(=df).loc[row,column] -> 전체 row와 (: 을 사용했기 때문에 모든 행을 불러온다는 것을 뜻함.) 'sepal_length'에 해당하는 column의 정보만 acessing 한다.

0    6.9
1    6.9
2    4.8
3    5.4
4    4.6
Name: sepal_length, dtype: float64

In [33]:
# Access one column (short-hand)
df['sepal_length']

#두번째 방법: df['column명']

0    6.9
1    6.9
2    4.8
3    5.4
4    4.6
Name: sepal_length, dtype: float64

In [34]:
# Access one column (shortest-hand)
df.sepal_length

#세번째 방법: df.column명  (-> 얘는 one column만 가능)

0    6.9
1    6.9
2    4.8
3    5.4
4    4.6
Name: sepal_length, dtype: float64

In [35]:
# Access two columns: 두개의 column 가져오는 방법
df.loc[:, ['sepal_length', 'sepal_width']]

#첫번째 방법과 동일 -> column명에 해당하는 부분을 두 개 입력해주면 됨.

   sepal_length  sepal_width
0           6.9          3.2
1           6.9          3.1
2           4.8          3.4
3           5.4          3.0
4           4.6          3.6

In [36]:
# Access two columns (short-hand)

df[['sepal_length', 'sepal_width']]

#두번째 방법과 동일 -> column명에 해당하는 부분을 두 개 입력해주면 됨

   sepal_length  sepal_width
0           6.9          3.2
1           6.9          3.1
2           4.8          3.4
3           5.4          3.0
4           4.6          3.6

### Accessing rows : 특정 행에만 acess하는 방법
##### 1) df.loc[row(찾을 행의 number), column (:로 전체 column 지정)]
##### 2) df.loc과 리스트,슬라이싱, 조건식을 이용해서 특정 범위의 행에만 접근할 수도 있다.

In [40]:
# Access one row 
df.loc[3, :]

#-> 세번째 row 한 개만 통으로 가져오는 access 방법

sepal_length           5.4
sepal_width            3.0
petal_length           4.5
petal_width            1.5
species         versicolor
Name: 3, dtype: object

In [41]:
# Access two rows
df.loc[[3, 0], :]

#-> df.loc[]와 리스트를 이용해서 3번째 행과 0번째 행 두 개를 가져오는 방법

   sepal_length  sepal_width  petal_length  petal_width     species
3           5.4          3.0           4.5          1.5  versicolor
0           6.9          3.2           5.7          2.3   virginica

In [42]:
# Access a range of rows
df.loc[2:5, :]

#-> df.loc[]와 인덱싱을 이용해서 2번째 row부터 4번째 row(슬라이싱에서는 -1까지여서 5번째가 아닌 4번째까지임!!) 까지의 정보를 불러오는 방법

   sepal_length  sepal_width  petal_length  petal_width     species
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

In [43]:
# Filter keeping only rows with `sepal_length` > 5
df[df.sepal_length > 5]

#->sepal_length의 값이 5보다 큰 경우에만 그 행을 가져와라 => 조건에 true가 되는 0,1,3번째 row에만 access함.

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
3           5.4          3.0           4.5          1.5  versicolor

### Accessing a cell

#### -> row, column이 아닌 하나의 cell에만 acessing하는 방법.
###### column or row accessing 방법으로 one column or row만 불러오고 column 인덱싱 이용하기

In [47]:
df.loc[:, 'sepal_length'][4]
#-> 'sepal_length' column에서 4번째에 해당하는 값만 가져와라 = 4.6 (*주의! 인덱싱은 0부터 시작.)

4.6

In [48]:
df['sepal_length'][4]

4.6

In [49]:
df.sepal_length[4]

4.6

### Adding/Removing new columns
##### = 한 column이나 row를 더하거나 빼는 방법

In [50]:
df['new_column'] = 1 #-> column을 accessing하는 방법 (변수명[column명])을 이용해서 새로운 column 만드는 방법
df


#-> new_column을 새로 추가하는 방법

,sepal_length,sepal_width,petal_length,petal_width,species,new_column
0,6.9,3.2,5.7,2.3,virginica,1
1,6.9,3.1,5.1,2.3,virginica,1
2,4.8,3.4,1.9,0.2,setosa,1
3,5.4,3.0,4.5,1.5,versicolor,1
4,4.6,3.6,1.0,0.2,setosa,1

In [58]:
df['new_column'] = [1, 2, 3, 4, 5]
df

#-> column acessing 방법으로 new_column의 값들을 바꾸는 방법! = 리스트 이용

,sepal_length,sepal_width,petal_length,petal_width,species,new_column
0,6.9,3.2,5.7,2.3,virginica,1
1,6.9,3.1,5.1,2.3,virginica,2
2,4.8,3.4,1.9,0.2,setosa,3
3,5.4,3.0,4.5,1.5,versicolor,4
4,4.6,3.6,1.0,0.2,setosa,5

In [59]:
df = df.drop('new_column', axis=1) # axis=1: column  / (cf. axis=0 : row)
df

#column을 제거하는 방법: df.drop()
#axis=1 : column 정보이다 / 즉, column에서 해당 변수명에 해당하는 column을 찾아 제거해라
#axis=0 : row 정보이다 / 즉, row에서 해당 변수명에 해당하는 row를 찾아 제거해라

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

### Adding/Removing new rows
###### : 새로운 row를 더하거나 빼는 방법.

In [61]:
#새로운 행을 만드는 방법

df.loc[5, :] = ''
df

#df.loc[row, column]
# -> row에는 새로운 row가 추가될 행의 값, column은 전체로 지정하고, 그 값을 = 을 통해 지정해 줌. / 여기서는 '', blank로 지정해주었기 때문에 값이 blank인 5번째 행이 새로 추가됨.

  sepal_length sepal_width petal_length petal_width     species
0          6.9         3.2          5.7         2.3   virginica
1          6.9         3.1          5.1         2.3   virginica
2          4.8         3.4          1.9         0.2      setosa
3          5.4         3.0          4.5         1.5  versicolor
4          4.6         3.6          1.0         0.2      setosa
5

In [62]:
#특정 행을 지우는 방법

df = df.drop(5, axis=0) # axis=0: row
df

#-> df.drop을 이용./ column과 방법은 같지만 row의 경우에는 axis=0을 해줘야 함.
# -> df.drop을 이용해서 행을 제거한 값을 다시 df 변수명에 저장해 줌. (다시 저장해 줘야 변경한 값이 변수에 저장됨)

  sepal_length sepal_width petal_length petal_width     species
0          6.9         3.2          5.7         2.3   virginica
1          6.9         3.1          5.1         2.3   virginica
2          4.8         3.4          1.9         0.2      setosa
3          5.4         3.0          4.5         1.5  versicolor
4          4.6         3.6          1.0         0.2      setosa